.profile-photo {
  width: 175px;
  height: 175px;

  @media (max-width: 600px) {
    width: 150px;
    height: 150px;
  }
}

.flex-container {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.flex-card {
  flex-grow: 1;
  overflow-y: auto;
}
